.mobile-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(77, 228, 127);
  box-shadow: 0 1px 1px #555;
  box-sizing: border-box;
  z-index: 2;
  color: #111;
  font-family: 'Lato', sans-serif;
}

.mobile-nav__button {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 25px;
  cursor: pointer;
}

.mobile-nav__bars {
  margin-right: 5px;
}

.mobile-nav__view {
  position: relative;
  margin-top: 40px;
  background-color: #111;
  padding: 5px;
}

.mobile-nav__link {
  position: relative;
  display: block;
  font-family: 'Archivo Black', sans-serif;
  color: rgb(77, 228, 127);
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  transition: 0.3s;
}

.mobile-nav__link-overlay {
  color: #111;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  bottom: 0;
  background-color: rgb(77, 228, 127);
  overflow: hidden;
  transition: 0.5s;
}

.mobile-nav__link:hover,
.mobile-nav__link--active {
  text-shadow: 0 0 5px #efefef;
  color: #efefef;
}

@media (min-width: 600px) {
  .mobile-nav {
    display: none;
  }
}