.side-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 220px;
  padding: 10px;
  background-color: #111;
  box-shadow: 0 3px 5px #111;
  box-sizing: border-box;
  z-index: 2;
  text-align: center;
}

.side-nav__logo {
  display: inline-block;
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: auto;
  color: #111;
  transition: 0.3s;
  margin-bottom: 10px;
  overflow: hidden;
}

.side-nav__logo-img {
  filter: grayscale();
  width: 100%;
}

.side-nav__logo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(77, 228, 127);
  opacity: 0.5;
  transition: 0.3s;
}

.side-nav__logo:hover {
  box-shadow: 0 0 5px #efefef;
}

.side-nav__logo-overlay:hover {
  background-color: #efefef;
}

.side-nav__link {
  position: relative;
  display: block;
  font-family: 'Archivo Black', sans-serif;
  color: rgb(77, 228, 127);
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  transition: 0.3s;
}

.side-nav__link:hover,
.side-nav__link--active {
  text-shadow: 0 0 5px #efefef;
  color: #efefef;
}

@media (max-width: 600px) {
  .side-nav {
    display: none;
  }
}