.contact {
  position: relative;
  background-color: #efefef;
  margin-top: 80px;
  padding: 50px;
  font-family: 'Lato', sans-serif;
  color: #111;
}

.contact__blurb {
  font-size: 27px;
}

.contact__header {
  margin-top: 0;
}

.contact__email {
  text-align: center;
}

.contact__address {
  display: inline-block;
  margin: 0;
}

.contact__at {
  font-size: 30px;
}

.contact__envelope {
  display: block;
  margin: auto;
  font-size: 150px;
}

@media (max-width: 600px) {
  .contact {
    margin-top: 40px;
    padding: 30px;
  }
}

@media (min-width: 1200px) {
  .contact {
    text-align: center;
  }
}