.contact {
  position: fixed;
  background-color: #efefef;
  top: 0;
  right: 0;
  left: 220px;
  bottom: 0;
  overflow-y: scroll;
  padding: 50px;
  font-family: 'Lato', sans-serif;
  color: #111;
}

.contact__header {
  margin-top: 0;
}

.contact__email {
  text-align: center;
}

.contact__address {
  display: inline-block;
  margin: 0;
}

.contact__at {
  font-size: 30px;
}

.contact__envelope {
  display: block;
  margin: auto;
  font-size: 150px;
}

@media (max-width: 600px) {
  .contact {
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
  }
}