.home__title {
  margin: 0;
  font-size: 100px;
  text-transform: uppercase;
  color: #111;
}

.home__slogan {
  color: rgb(77, 228, 127);
  text-transform: uppercase;
  font-size: 50px;
  margin: 0;
}

.home__nav-link {
  position: relative;
  display: block;
  color: rgb(77, 228, 127);
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

.home__nav-link:hover {
  text-shadow: 0 0 5px #efefef;
  color: #efefef;
}

.home__section {
  position: fixed;
  box-sizing: border-box;
  font-family: 'Archivo Black', sans-serif;
  overflow: hidden;
}

.home__section--1 {
  left: 0;
  top: 0;
  right: 50%;
  height: 50%;
  background-color: rgb(77, 228, 127);
  padding: 20px;
}

.home__section--2 {
  left: 50%;
  right: 0;
  height: 50%;
  background-color: #111;
  box-shadow: 0px 0px 5px #111;
  z-index: 2;
  padding: 20px;
}

.home__section--3 {
  left: 0;
  height: 50%;
  bottom: 0;
  right: 50%;
  background-color: #111;
  padding: 20px;
  box-shadow: 0px 0px 5px #111;
  z-index: 2;
}

.home__section--4 {
  left: 50%;
  right: 0;
  bottom: 0;
  height: 50%;
  background-color: rgb(77, 228, 127);
}

.home__avatar {
  height: 100%;
  float: right;
  opacity: 1;
}

.home__cog {
  position: absolute;
  font-size: 200px;
  transform-origin: center;
  animation: spin 4s infinite linear;
}

.home__cog--1 {
  right: -100px;
  bottom: -100px;
  color: #111;
}

.home__cog--2 {
  left: -100px;
  bottom: -100px;
  color: rgb(77, 228, 127);
}

.home__cog--3 {
  right: -100px;
  top: -100px;
  color: rgb(77, 228, 127);
}

.home__cog--4 {
  top: -100px;
  left: -100px;
  color: #111;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(359deg);
  }
}

@media (max-height: 550px) {
  .home__title {
    font-size: 70px;
  }

  .home__nav-link {
    font-size: 30px;
  }

  .home__slogan {
    font-size: 30px;
  }
}

@media (max-width: 750px) {
  .home__title {
    font-size: 60px;
  }

  .home__slogan {
    font-size: 40px;
  }

  .home__nav-link {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .home__title {
    font-size: 30px;
  }

  .home__slogan {
    font-size: 20px;
  }

  .home__nav-link {
    font-size: 20px;
  }

  .home__cog {
    font-size: 100px;
  }
  
  .home__cog--1 {
    right: -50px;
    bottom: -50px;
    color: #111;
  }
  
  .home__cog--2 {
    left: -50px;
    bottom: -50px;
    color: rgb(77, 228, 127);
  }
  
  .home__cog--3 {
    right: -50px;
    top: -50px;
    color: rgb(77, 228, 127);
  }
  .home__cog--4 {
    top: -50px;
    left: -50px;
    color: #111;
  }
}