.portfolio {
  position: fixed;
  background-color: #efefef;
  top: 0;
  right: 0;
  left: 220px;
  bottom: 0;
  overflow-y: scroll;
  padding: 50px;
  color: #111;
}

.portfolio__header {
  font-family: 'Lato', sans-serif;
  margin-top: 0;
}

.portfolio__blurb {
  font-family: 'Lato', sans-serif;
  color: #111;
  font-size: 20px;
  margin: 20px 0 50px 0;
}

.portfolio__loader {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #111;
  padding: 50px 0;
}

.portfolio__loader-text {
  margin: 0;
}

.portfolio__projects {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  .portfolio {
    position: relative;
    margin-top: 50px;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    padding: 30px;
  }
}